#h1{
 background : lightgreen;
color: darkblue;
padding-bottom: 20px;
}

table, th, td{

border: 1px solid blue;
background : black;
color: greenyellow;
text-align: center;
}
#table{
   margin: 20px 500px;
   background: purple;
   padding-bottom: 10px;
   padding-left: 10;
   padding-right: 10;
}

hr{
    color: gold;
}

form{
    background: pink;
    margin: 10 550px 10 300;
    padding-bottom: 5px;
    width: fit-content;
}

div{
    background: rgb(224, 124, 141);
    text-align: center;
    border-top: 3px solid burlywood;
    color: blue;
    margin: 10 550px 10 300;

}
#aa{
    border-top: 3px solid rgb(199, 7, 141);
    border-bottom: 3px solid rgb(199, 7, 141);
    color: red;
}
#nav{
    background: black;
    color: white;
    margin-right: 150;
    display: flex;
    justify-content: space-evenly;

}
.button{
    background: transparent;
    color: white;
}

ol{

    display :inline-block;
}